/* MENU BUTTON STYLING - BEGIN */
/* NEEDS TO BE INSIDE NAVBAR CONTAINER */
#menuContainer{
	position: fixed !important;
	top: 25px;
	left: 25px;
}

#menuButton{
	border-radius: 30px;
	background-color:var(--color-quatre);

}

#menuDropDown{
	background: none;
	border: none;
}

.dropdown-item{
	/* OVERRIDE/ADD TO BOOSTRAP */
	background-color:var(--color-cinq);
	color: var(--color-quatre) !important;
	border-radius: 30px;
	margin: 10px;
}

.dropdown-item:hover{
	margin: 10px;
	background-color: var(--color-une);
	color: var(--color-cinq);
}

.caret-off::before {
	display: none;
}
.caret-off::after {
	display: none;
}

/* MENU BUTTON STYLING - END */